@font-face {
    font-family: 'Naslov';
    src: url(/fonts/SweetSensationsPersonalUse-lRgq.ttf) format('truetype');
}
@font-face {
    font-family: 'Cute';
    src: url(/fonts/LibraryRecordsRegular-qZW66.ttf) format('truetype');
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Cute',sans-serif;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(/img/pozadina5.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:darkcyan;
    border-bottom: 2px solid cyan;
}
header{
    width: 100%;
    height: 130px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    margin-left: 5%;
    margin-bottom: 15px;
    height: 150px;
    width: 150px;
}
.burger_meni{
    display: none;
    height: 60px;
    width: 60px;
 }
.stranice{
    list-style: none;
}
.stranice li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 2px;
    font-size: 20px;
    display: inline-block;
    margin-right: 80px;
}

#citat{
    font-family:'Naslov', sans-serif;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 90px;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 0px;
    padding-bottom: 75px;
    
}
.content{
    max-width: 1140px;
    margin: auto;
    margin-bottom: 15px;
}
.red{
    display: flex;
    flex-wrap: wrap;
}
.portfolio{
    background-color: white;
    padding: 100px 7px;
}
.naslov{
    flex:0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.naslov h1{
    margin:0 0 5px;
    display: inline-block;
    font-size: 60px;
    -webkit-text-stroke: 1.3px black;
    border-bottom: 7px groove cyan;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    position: relative;
}
.text-center{
    text-align: center;
}

.galerija .Filter{
    flex:0 0 100%;
    max-width: 100% ;
    margin-bottom: 20px;
}

.galerija .Filter ul{
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 40px;
    -webkit-text-stroke: 1.1px black;
}

.galerija .Filter ul li{
    color: white;
    font-weight: 500;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}
.galerija .Filter ul li.podrazumevano{
    color: cyan;
    border-bottom: 3px solid darkcyan;
}
.galerija .portfolio{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.galerija .portfolio .item{
    flex:0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}
.galerija .portfolio .item.hide{
    display:none;
}
.galerija .portfolio .item .clan{
    position: relative;
}

.galerija .portfolio .item img{
    width: 100%;
    height: 250px;
    display:block;
}
.galerija .portfolio .item img:hover{
    cursor:pointer;
    border: 3px black solid;
}
@media(max-width:1100px){
    .burger_meni{
        display: block;
        margin-right: 30px;
        cursor: pointer;
    }
    .stranice{
        position: absolute;
        left:-100%;
        display: flex;
        flex-direction: column;
        background-color:  whitesmoke;
        width: 100%;
        text-align: center;
        top: 129px;
        transition: 0.4s;
    }
    .stranice li{
        margin: 16px 0;
    }
    .stranice.pomeri{
        top:129px;
        left: 0;
    }

}
@media(max-width:767px){
    .galerija .portfolio .item{
        flex:0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }
}
@media(max-width:380px){
    #citat{
        font-size: 75px;
        padding-left: 30px;
        padding-top: 80px;
    }
    .content{
        min-width: 100%;
    }
    .logo{
        height: 120px;
        width: 120px;
    }
    .burger_meni{
        height: 50px;
        width: 50px;
        margin-right: 30px;
    }
    .content{
        max-width: 50%;
    }
    .galerija .portfolio .item{
        flex:0 0 100%;
        max-width: 100%;
    }
}

footer{
    width: 100%;
    height: 130px;
    background-color: whitesmoke;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#ft_slika{
    display: block;
    width: 125px;
    height: 125px;
    margin-right: calc(50% - 140px);
    margin-bottom: 10px;
}
#ft_top{
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    cursor: pointer;
}
#ft_top:hover{
    border-radius: 100%;
    border: 2px solid aqua;
}
